h1 {
  text-align: center;
}

body{
  text-align: center;
   color: #000000;
  font-family: 'Merriweather', serif;
}
hr{
  width: 200px;
}
p{
  font-size: 22px;
}

ul {
    list-style-position: inside;
}